<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>Добро пожаловать, <span th:text="${username}"></span>!</h2>

    <p>Вы авторизованы в системе.</p>

    <form action="/auth/logout" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>
</body>
</html>
